html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  color: #424141;
  background-color: white;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 55px auto 2px auto 20px auto;
}

.content {
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 5px 0;
}

.header {
  grid-row: 1/2;
  grid-column: -1/1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.hero {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.footer {
  grid-row: 6/7;
  grid-column: 1/-1;
  padding: 30px 5px;
  border-top: 2px solid #F6F6F6;
  background-color: #F6F6F6;
  letter-spacing: 1.5px;
}

.menu__checkbox, .submenu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler, .submenu__toggler {
  cursor: pointer;
}

.menu__icon, .submenu__icon {
  margin: 10px 20px 8px 10px;
}

.menu__bar {
  width: 35px;
  height: 4px;
  background-color: #424141;
  display: block;
  border-radius: 25px;
  margin-top: 6px;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 25px 40px;
  list-style: none;
  background-color: white;
  position: absolute;
  top: 57px;
  right: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #e7e6e6;
}

.submenu__list {
  display: none;
}

.menu__item, .submenu__item {
  border-bottom: 1px solid #F6F6F6;
  padding: 15px 20px;
}

.menu__item--last, .submenu__item--last {
  border-bottom: 0;
}

.menu__link, .submenu__link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.submenu__checkbox:checked ~ .submenu__list {
  display: block;
}

.footer__title {
  text-align: center;
  margin: 0 auto;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 200;
}

.footer__content {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto 0 auto;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.footer__subtitle {
  font-size: 14px;
  font-weight: 300;
  justify-self: right;
  margin: 0;
}

.footer__image {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  justify-self: center;
}

.footer__link {
  text-decoration: none;
  color: #4f4e4e;
  font-size: 14px;
  font-weight: 300;
  justify-self: left;
}

.e-mail {
  text-decoration: none;
  color: rgb(6, 5, 5);
  font-size: 16px;
}

.logo {
  position: relative;
}

.logo__title {
  font-family: "Karla", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0 80px;
}

.logo__image {
  width: 65px;
  border-radius: 50%;
  border: 1px solid #F6F6F6;
  position: absolute;
  bottom: -15px;
  z-index: 2;
  margin: 0 5px;
}

.logo__link {
  text-decoration: none;
  color: #4f4e4e;
}

.hero__photo {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #F6F6F6;
  border-top: 2px solid #F6F6F6;
}

.content__wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.content__box {
  background-color: #F6F6F6;
  border: 1px solid #e7e6e6;
  padding: 40px 10px;
  text-align: center;
  position: relative;
}

.content__text--separate {
  padding-bottom: 10px;
}

.content__text--centered {
  text-align: center;
}

.content__text--last {
  margin: 0;
}

.content__header {
  padding: 15px 0 15px 0;
  text-align: center;
}

.content__title {
  margin: 0 0 30px 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
}

.content__title--big {
  font-size: 32px;
  margin: 0px;
  letter-spacing: 1.2px;
}

.content__text {
  font-size: 18px;
  line-height: 1.5;
}

.content__image {
  height: 100%;
  width: 100%;
}

.content__image img {
  width: 100%;
  min-height: 300px;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #e7e6e6;
}

.content__subtitle {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.content__subtitle--attention {
  color: rgb(177, 21, 21);
}

.content__text--personal {
  font-size: 30px;
  display: block;
  margin: 30px 0 0 5px;
  color: rgb(101, 100, 100);
}

.handwriting {
  font-family: "Square Peg", cursive;
}

.button {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #EDCC76;
  border: 1px solid #EDCC76;
  font-weight: 300;
  color: rgb(6, 5, 5);
  font-size: 16px;
  margin: 30px 0 15px 0;
}

.button--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button__link {
  text-decoration: none;
}

.link__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

.link__icon {
  height: 25px;
  width: 25px;
}

.link__image {
  width: 100%;
  height: 100%;
}

.link__text {
  color: rgb(6, 5, 5);
}

.link__tel {
  color: inherit;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px 0;
}

.card {
  border-radius: 5px;
  background: white;
  border: 1px solid #e7e6e6;
  padding: 0px;
}

.card__image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0;
}

.card__description {
  margin: 10px 0 15px 0;
}

.card__link {
  text-decoration: none;
  color: #4f4e4e;
}

.logo--small {
  margin-left: auto;
  margin-right: auto;
}

.logo__title--small {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px 0 0;
}

.logo__image--small {
  width: 35px;
  bottom: 0;
}

.map {
  margin: 30px 0 10px 0;
}

.list {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.list__item {
  margin: 10px 0;
}

.gallery {
  width: 100%;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 25px;
}

.gallery__photo {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.circle__wrapper {
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #EDCC76;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: -20px;
}

.circle__title {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 34px;
}

.table {
  width: 100%;
  font-weight: 200;
  margin: 40px 0;
  border-spacing: 0;
  background-color: white;
  font-family: "Karla", sans-serif;
}

@media screen and (min-width: 1100px) {
  .table {
    width: 90%;
  }
}
.table__data {
  padding: 10px 15px;
  border-bottom: 1px solid #e7e6e6;
}

.table__data--last {
  border-bottom: none;
}

.table__data--left {
  text-align: left;
}

.table__data--right {
  text-align: right;
}

.table__data--attention {
  color: rgb(177, 21, 21);
}

.table-big {
  width: 100%;
  border: 1px solid #e7e6e6;
  padding: 10px;
  margin: 0 0 20px 0;
  border-spacing: 0;
  font-family: "Karla", sans-serif;
  background-color: white;
  text-align: left;
}

.table-big__data {
  padding: 5px 0;
  font-weight: 300;
}

.table-big__data--underlined {
  border-bottom: 1px solid #F6F6F6;
}

.table-big__title {
  padding: 10px 0;
  text-transform: uppercase;
}

.table-big__value {
  text-align: right;
}

.table-big__info {
  color: #b0b0b0;
  font-weight: 200;
  font-style: italic;
}

/*

@media screen and (min-width: 768px) {

    .layout {
        display: grid;
        grid-template-columns: 1fr 96% 1fr;
        grid-template-rows: 55px 400px 60px auto 60px auto;
    }

    .content {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px 15px;
    }

    }

*/
@media screen and (min-width: 1100px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
    grid-template-rows: 55px auto 40px auto 100px auto;
  }

  .content {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 15px 10px;
  }

  .header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .hero__photo {
    height: 350px;
  }

  .content__box {
    padding: 50px 40px 50px 40px;
    text-align: left;
    border-radius: 5px;
  }

  .content__box--wide {
    grid-column: 1/-1;
  }

  .content__wrapper {
    display: contents;
  }

  .content__header {
    grid-column: 1/-1;
  }

  .content__image img {
    height: 100%;
    min-height: 400px;
    max-height: 580px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }

  .content__element {
    position: absolute;
    bottom: 50px;
  }

  .content__subtitle--centered {
    text-align: center;
  }

  .content__subtitle--bigger {
    font-size: 30px;
    margin: 70px 0 20px 0;
  }

  .content__text--bigger {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 80px;
  }

  .content__text--separate {
    padding-bottom: 40px;
  }

  .logo__link:hover {
    transform: scale(1.02);
  }

  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex;
  }

  .menu__item {
    border-right: 1px solid white;
    border-bottom: 0;
  }

  .menu__item--last {
    margin-right: 0;
  }

  .menu__link:hover, .menu__link:active {
    color: #b58715;
    transition: 0.2s linear;
  }

  .link__wrapper {
    margin: 0;
  }

  .link__text:hover {
    text-decoration: none;
  }

  .link__icon:hover {
    transform: scale(1.1);
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 10px;
    padding-top: 10px;
  }

  .card__description {
    margin: 15px 10px 25px 10px;
    line-height: 1.3;
    text-align: center;
  }

  .card__title {
    margin: 15px 5px 10px 0;
    line-height: 1.2;
    vertical-align: middle;
    text-align: center;
  }

  .card__title--small {
    font-size: 17px;
  }

  .card__image {
    height: 160px;
  }

  .card__link:hover {
    transform: scale(1.02);
  }

  .footer {
    padding: 20px 5px;
  }

  .footer__title {
    font-size: 24px;
  }

  .footer__subtitle {
    font-size: 16px;
  }

  .footer__image {
    width: 45px;
    height: 45px;
    margin: 0 15px;
  }

  .footer__link {
    font-size: 16px;
  }

  .gallery {
    width: 1120px;
  }

  .gallery__grid {
    grid-column: 1/-1;
    display: grid;
    grid-auto-rows: auto;
    gap: 25px;
  }

  .gallery__grid--two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    gap: 5px;
  }

  .gallery__grid--six {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 5px;
  }

  .gallery__grid--six .gallery__item:first-child,
.gallery__grid--six .gallery__item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery__photo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }

  .gallery__wrapper {
    position: relative;
  }

  .circle {
    width: 80px;
    height: 80px;
    background-color: #EDCC76;
    border-radius: 50%;
    position: absolute;
    left: 535px;
    top: 60%;
  }

  .circle__title {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 34px;
  }

  .table-big {
    width: 100%;
    border: 1px solid #e7e6e6;
    padding: 10px;
    margin: 0 0 20px 0;
    border-spacing: 0;
    font-family: "Karla", sans-serif;
    background-color: white;
  }

  .table-big__data {
    padding: 5px 0;
    font-weight: 300;
  }

  .table-big__data--underlined {
    border-bottom: 1px solid #F6F6F6;
  }

  .table-big__title {
    padding: 10px 0;
    text-transform: uppercase;
  }

  .table-big__value {
    text-align: right;
  }

  .table-big__info {
    color: #b0b0b0;
    font-weight: 200;
    font-style: italic;
  }
}
.button:hover {
  transform: scale(1.02);
}/*# sourceMappingURL=style.css.map */