@use "colors";
@use "fonts";

.content {
    grid-row: 4 / 5; 
    display: grid;
    grid-template-columns: 1fr;

    &__wrapper  {
        display: flex;
        flex-direction: column-reverse;
    }

    &__box {
        background-color: colors.$primary;
        border: 1px solid colors.$primary-darker;
        padding: 40px 15px;
        text-align: center;
        position: relative;
    }
    
    &__header {
        padding: 15px 0 5px 0;
        text-align: center;
    }


    &__title {
        margin: 0 0 30px 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 24px;
    }

    &__title--bigger {
        font-size: 27px;
        margin: 10px 0 5px 0;
        letter-spacing: 1.2px;
    }  

    &__image {
        height: 100%;
        width: 100%;
    }

    &__image img {
        width: 100%;
        min-height: 300px;
        max-height: 350px;
        object-fit: cover;
        border: 1px solid #e7e6e6;
    }

    &__image--bigger img {
        max-height: 500px;
    }

    &__subtitle {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__subtitle--attention {
        color: colors.$attention;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
    }

    &__text--separate {
        padding-bottom: 10px;
    }

    &__text--centered {
        text-align: center;
    }

    &__text--last {
        margin: 0
    }

    &__text--special {
        font-size: 30px;  
        font-family: fonts.$special;   
        margin: 30px 0 0 5px;
    }
    
}

@media screen and (min-width: 1100px) {
    
.content {
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;

    &__box {
        padding: 50px 40px;
        text-align: left;
        border-radius: 5px;
    }

    &__box--centered {
        text-align: center;
    }

    &__box--wide {
        grid-column: 1 / -1;
    }

    &__wrapper  {
        display: contents;
    }

    &__header {
        grid-column: 1 / -1;
    }

    &__image img{
        height: 100%;
        min-height: 400px;
        max-height: 580px;
        border-radius: 5px;
    }

    &__element {
        position: absolute;
        bottom: 50px;
    }

    &__title--bigger {
        font-size: 30px;
    }  

    &__subtitle--centered {
        text-align: center;
    }

    &__subtitle--bigger {
        font-size: 30px;
        margin: 70px 0 20px 0;
    }

    &__text--bigger {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 80px;
    }

    &__text--separate {
        padding-bottom: 40px;
    }
}

}

