@use "colors";
@use "fonts";

.content {
    grid-row: 4 / 5; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    &__wrapper  {
        display: contents;
    }

    &__box {
        background-color: colors.$primary;
        padding: 40px 15px;
        text-align: center;
        position: relative;
        }
    
    &__header {
        margin: 0;
    }

    &__title {
        margin: 0 0 30px 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 24px;
    }

    &__title--bigger {
        font-size: 27px;
        margin: 15px 0 5px 0;
        text-align: center;
        letter-spacing: 1.2px;
    }  

    &__image {
        max-height: 250px;
        width: 100%;
    }

    &__image--bigger {
        max-height: 450px;
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
    }

    &__subtitle {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__subtitle--attention {
        color: colors.$attention;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
    }

    &__text--separate {
        padding-bottom: 10px;
    }

    &__text--centered {
        text-align: center;
    }

    &__text--last {
        margin: 0
    }

    &__text--special {
        font-size: 32px;  
        font-family: fonts.$special;   
        margin: 30px 0 0 5px;
    }  
}

@media screen and (min-width: 500px) {
    
.content {
    gap: 10px;
    grid-column: 2 / 3;

    &__box {
        padding: 50px 40px;
        border-radius: 5px;
        border: 1px solid colors.$primary-darker;
    }   

    &__image {
        max-height: 350px;
        border-radius: 5px;
    }

    &__image--bigger {
        max-height: 550px;
    }

    &__image img {
        border-radius: 5px;
    }

    &__title--bigger {
        font-size: 27px;
        margin: 10px 0 5px 0;
    }
}
}

@media screen and (min-width: 750px) {
    
    .content {
        gap: 15px;
        grid-column: 2 / 3;

        &__image {
            max-height: 450px;
        }
        
        &__image--bigger {
            max-height: 700px;
        }

        &__title--bigger {
            margin: 0;
        }
}
}

    
@media screen and (min-width: 1150px) {
    
.content {
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;

    &__box {
        text-align: left;
    }

    &__box--centered {
        text-align: center;
    }

    &__box--wide {
        grid-column: 1 / -1;
    }

    &__wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__box--wrapped {
        order: 2;
    }

    &__image--wrapped {
        order: 1;
    }

    &__header {
        grid-column: 1 / -1;
        padding: 0;
    }

    &__image {
        max-height: 580px;
    }

    &__image--bigger {
        max-height: 650px;
    }

    &__element {
        position: absolute;
        bottom: 50px;
    }

    &__title--bigger {
        font-size: 30px;
        line-height: 1;
        margin: 10px 0 5px 0;
    }  

    &__subtitle--centered {
        text-align: center;
    }

    &__subtitle--bigger {
        font-size: 30px;
        margin: 70px 0 20px 0;
    }

    &__text--bigger {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 80px;
    }

    &__text--separate {
        padding-bottom: 40px;
    }
}
}

