@use "colors";
@use "fonts";

.content {
    grid-row: 4 / 5; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    &__wrapper  {
        display: contents;
    }

    &__box {
        background-color: colors.$primary;
        padding: 40px 15px;
        text-align: center;
        position: relative;
    }
    
    &__header {
        margin: 0;
    }

    &__title {
        margin: 0 0 30px 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 24px;

        &--bigger {
            font-size: 27px;
            margin: 15px 0 5px 0;
            text-align: center;
            letter-spacing: 1.2px;
        }  
    }

    &__image {
        max-height: 250px;
        width: 100%;
   
        &--bigger {
            max-height: 450px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;    
        }
    }

    &__subtitle {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        text-transform: uppercase;

        &--attention {
            color: colors.$attention;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;

        &--separate {
            padding-bottom: 10px;
        }

        &--centered {
            text-align: center;
        }

        &--last {
            margin: 0
        }

        &--special {
            font-size: 32px;  
            font-family: fonts.$special;   
            margin: 30px 0 0 5px;
        }
    }  
}

.button {
    border-radius: 25px;
    padding: 10px 15px;
    background-color: colors.$complementary-lighter;
    border: 1px solid colors.$complementary-lighter;
    font-weight: 300;
    color: colors.$font;
    font-size: 16px;
    margin: 20px 0 15px 0;
    display: inline-block;

    &__link {
        text-decoration: none; 
    }
}

.link {
    color: colors.$font;

    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3px;
        margin: 0 auto ;
        width: fit-content;
        align-items: center;
    }

    &__icon {
        height: 25px;  
        width: 25px
    }

    &__text {
       margin: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__tel {
        color: inherit;
        text-decoration: none;
    }
}

.map {
    margin: 30px 0 10px 0;
}

.list {
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;

    &__item {
        margin: 10px 0;
    }
}

.breadcrumbs {
    display: none;
}

@media screen and (min-width: 500px) {
    
.content {
    gap: 10px;
    grid-column: 2 / 3;

    &__box {
        padding: 50px 40px;
        border-radius: 5px;
        border: 1px solid colors.$primary-darker;
    }   

    &__image {
        max-height: 350px;
        border-radius: 5px;

        &--bigger {
            max-height: 550px;
        }

        & img {
            border-radius: 5px;
        }
    }

    &__title--bigger {
        font-size: 27px;
        margin: 10px 0 5px 0;
    }
}
}

@media screen and (min-width: 750px) {
    
.content {
    gap: 15px;
    grid-column: 2 / 3;

    &__image {
        max-height: 450px;
    
        &--bigger {
            max-height: 700px;
        }
    }

    &__title--bigger {
        margin: 15px 0 0 0;
    }
}

.breadcrumbs {
    display: block;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;

    &__link {
        text-decoration: none;
        color: colors.$primary-darkest;
    }

    &__icon {
        font-size: 10px;
        margin: 0 10px;
        color: colors.$primary-darkest;
    }
}
}

@media screen and (min-width: 1150px) {
    
.content {
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;

    &__box {
        text-align: left;

        &--centered {
            text-align: center;
        }

        &--wide {
            grid-column: 1 / -1;
        }
        
        &--wrapped {
            order: 2;
        }
    }
       
    &__wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__header {
        grid-column: 1 / -1;
        padding: 0;
    }

    &__image {
        max-height: 580px;

        &--wrapped {
            order: 1;
        }

        &--bigger {
            max-height: 650px;
        }
    }

    &__element {
        position: absolute;
        bottom: 50px;
    }

    &__title--bigger {
        font-size: 30px;
        line-height: 1;
        margin: 10px 0 5px 0;
    }  

    &__subtitle {

        &--centered {
            text-align: center;
        }

        &--bigger {
            font-size: 30px;
            margin: 70px 0 20px 0;
        }
    }

    &__text {

        &--bigger {
            font-size: 22px;
            line-height: 1.5;
            margin-bottom: 80px;
        }

        &--separate {
            padding-bottom: 40px;
        }
    }
}

.link {

    &:hover{
        text-decoration: none;
    }

    &__wrapper {
        margin: 0
    }

    &__icon:hover {
        transform: scale(1.1);
    }
}
    
.button {

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        text-decoration: underline;
    }
}

.breadcrumbs {
    font-size: 18px;

    &__icon {
        font-size: 12px;
    }

    &__link:hover {
        text-decoration: underline;
    }
}
}

