@use "colors";
@use "fonts";

.footer {
    grid-row: 6 / 7;
    padding: 25px 5px;
    letter-spacing: 1.5px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    align-items: center;

    &__top {
        grid-row: 1 / 2;
    }

    &__bottom {
        grid-row: 2 / 3;
        margin-top: 5px;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto;
    }

    &__title {
        text-align: center;
        margin: 0;
        font-size: 22px;
        font-family: fonts.$special;
        letter-spacing: 2px;

        &--desktop {
            display: none;
        }
    }

    &__subtitle {
        grid-column: 1 / 2;
        font-size: 14px;
        font-weight: 300;
        justify-self: right;
        margin: 0;    
    }

    &__image {
        grid-column: 2 / 3;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        justify-self: left;
    }

    &__link {
        display: none;
        grid-column: 3 / 4;
        text-decoration: none;
        color: colors.$font;
        font-size: 12px;
        font-weight: 300;
        justify-self: left;
    }
}

@media screen and (min-width: 500px){

.footer {
    grid-column: 1 / -1;
    padding: 40px 0;

    &__bottom {
        grid-template-columns: 1fr auto 1fr;
    }

    &__title {
        font-size: 22px;
        
        &--mobile {
            display: none;
        }

        &--desktop {
            display: block;
        }
    }
            
    &__subtitle {
        font-size: 16px;
    }

    &__link {
        font-size: 16px;
    }

    &__image {
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }
}
}

@media screen and (min-width: 1150px){

.footer {
    
    &__title {
        font-size: 24px;  
    }

    &__image {
        width: 45px;
        height: 45px;
        margin: 0 15px;
    }
}
}