@use "colors";

.hero {
    grid-row: 2 / 3;

    &__photo {
        width: 100%;
        object-fit: cover;
        border-top: 2px solid colors.$primary;
    }

    &__photo--desktop {
        display: none;
    }

    &__photo--mobile {
        height: 220px;
    }   
}

@media screen and (min-width: 500px) {
    
.hero {
    grid-column: 1 / -1;

    &__photo {
        border-bottom: 2px solid colors.$primary;
    }
    
    &__photo--mobile {
        display: none;
    }

    &__photo--desktop {
        height: 250px;
        display: block;
    }
}
}

@media screen and (min-width: 750px) {

.hero {
    grid-column: 1 / -1;
    &__photo--desktop {
        height: 300px;
    }
}
}
    

@media screen and (min-width: 1150px) {

.hero {
    grid-column: 1 / -1;

    &__photo--desktop {
        height: 350px;
    }
}
}