.layout {
    display: grid;
    grid-template-rows: 55px auto 2px auto auto;
}

@media screen and (min-width: 1100px) {

.layout {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
    grid-template-rows: 55px auto 30px auto 40px auto;
}
}
