.layout {
    display: grid;
    grid-template-rows: 55px auto 0 auto 0 auto;
}

@media screen and (min-width: 550px) {

.layout {
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-rows: 55px auto 20px auto 0 auto;
}
}

@media screen and (min-width: 700px) {

.layout {
    display: grid;
    grid-template-columns: 45px auto 45px;
    grid-template-rows: 55px auto 30px auto 0 auto;
}
}

@media screen and (min-width: 1150px) {

.layout {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
    grid-template-rows: 55px auto 30px auto 40px auto;
}
}
