
:root {
    --c-primary: #EDCC76;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    letter-spacing: 1.1px;
    color: rgb(6, 5, 5);
    background-color: #F6F6F6;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 95% 1fr;
    grid-template-rows: 60px 250px 20px auto 20px auto;
}

.content {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px 0;
}


.header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;

    
}

.hero {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.footer {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
    border-top: 2px solid #F6F6F6;
    padding: 10px;

}
.footer__content {
    display: flex;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.company__title {
    font-size: 16px;
    font-weight: 100;
}

.company__image {
    width: 50px;
    height: 50px;

}

.e-mail {
    text-decoration: none;
    color: rgb(6, 5, 5);
    font-size: 14px;
}

.logo {
     position: relative;
}
.logo__title {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.2;
    margin: 0 0 0 80px;

}

.logo__image {
       width: 65px;
       border-radius: 50%;
       border: 1px solid white;
       position: absolute;
       bottom: -15px
       
}

.hero__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #F6F6F6;
    border-top: 2px solid #F6F6F6;
}

.tabs {
    display: none;
}


.content__box {
    background-color: white;
    border: 1px solid #e7e6e6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.content__title {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 20px;
}

.content__text {
    font-size: 18px;
    line-height: 1.5;

}

.quote {
    font-size: 24px;
    font-family: 'Square Peg', cursive;
    display: block;
    text-align: center;
    margin: 10px;
}

.content__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.content__subtitle {
    font-size: 22px;
    margin: 0;
    font-weight: 300;
}

.content__subtitle--attention {
    color: rgb(177, 21, 21);
}

.button {
    border-radius: 25px;
    padding: 5px 15px;
    background-color: var(--c-primary);
    border: 1px solid var(--c-primary);
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    color: rgb(6, 5, 5);
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-image {
    height: 25px;
    padding: 5px 0px 0px 5px;
    
}
.link__text {
    color: rgb(6, 5, 5);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px 0;
}

.card {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #e9e9e9;
    padding: 0px;
    
}

.card__image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.card__text {
    padding: 10px;
    

}
.card__title {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.card__description {
    margin: 10px 0;
}


.logo--small {
    margin-left: auto;
    margin-right: auto;
}

.logo__title--small {
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.logo__image--small {
    width: 35px;
    bottom: 0;

}

@media screen and (min-width: 768px) {

    .layout {
        display: grid;
        grid-template-columns: 1fr 96% 1fr;
        grid-template-rows: 70px 400px 60px auto 60px auto;
    }

    .content {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px 15px;
    }

    }



@media screen and (min-width: 1100px) {

    .layout {
        display: grid;
        grid-template-columns: 1fr 75% 1fr;
        grid-template-rows: 70px 400px 60px auto 60px auto;
    }

    .content {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px 15px;
    }


    .header {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: flex;
        justify-content: space-between; 
        align-items: flex-end;
        
    }

    .hero {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    
    .content__box {
        padding: 45px 50px;
        text-align: left;
    }

    .content__box--wide {
        grid-column: 1 / -1;
    }

    .tabs {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 200;
        
        

    }

    .tab__item {
        text-decoration: none;
        color: black;
        margin: 0 15px;
        
    }

    .tab__item:hover, .tab__item:active {
        color: #b58715;
    }

    .tab__item--last {
        margin-right: 0;
    }
    .menu-icon {
        display: none;
    }

    .link {
        justify-content: left;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0 10px;
    }

    .card__description {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .card__title {
        margin: 0;
        line-height: 1.2;
        vertical-align: middle;
    }

    .card__title--small {
        font-size: 20px;
    }

    .card__image {
        height: 150px;
    }

    .quote {
        font-size: 38px;
        margin: 20px;
    }
    .footer__content {
        width: 350px;
    }

   

    .button:hover {
        transform: scale(1.05);
    }

 
}


