
:root {
    --c-primary: #eec762;
}

body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    color: rgb(6, 5, 5);
}

.layout {
    display: grid;
    grid-template-columns: 1fr 95% 1fr;
    grid-template-rows: 70px 250px 40px auto 40px 100px;
}

.content {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px 0;
}


.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    
}

.logo {
     position: relative;
}
.logo__title {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 0 80px;

}

.logo__image {
       width: 65px;
       border-radius: 50%;
       border: 1px solid white;
       position: absolute;
       bottom: -15px
       
}

.hero {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.hero__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #F6F6F6;
    border-top: 2px solid #F6F6F6;
}


.tab__item {
    text-decoration: none;
    font-size: 5px;
    color: black;
    padding: 0 5px;

}


.content__box {
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.content__title {
    margin: 0;
    font-weight: 300;
}

.content__text {
    font-size: 18px;
    line-height: 1.5;

}

.content__image {
    width: 100%;
    border-radius: 5px;
}

.content__subtitle {
    margin: 0;
    font-weight: 400;
}

.content__subtitle--attention {
    color: rgb(177, 21, 21);
}


.button {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: var(--c-primary);
    border: 1px solid var(--c-primary);
    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    color: rgb(6, 5, 5);
    font-size: 16px;

}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-image {
    height: 25px;
    padding: 5px 0px 0px 5px;
    
}

.link__text {
    color: black
}



}