<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Ráj poníků</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
     <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/cce590eaf9.js" crossorigin="anonymous"></script>
     
</head>
<body>
        
    <div class="layout">

        <header class="header">
            <a class="logo__link" href="/">
                <div class="logo">
                    <img class="logo__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
                    <h1 class="logo__title">Ráj poníků</h1>
                </div>
            </a>

            <nav class="menu">
                <input type="checkbox" class="menu__checkbox" id="menu__checkbox">

                <label for="menu__checkbox" class="menu__toggler">
                  <i class="menu__icon menu__icon--open fa-solid fa-ellipsis"></i>
                  <i class="menu__icon menu__icon--close fa-solid fa-xmark"></i>

                </label>

                <ul class="menu__list">

                    <nav class="submenu">    
                        
                        <input type="checkbox" class="submenu__checkbox" id="submenu__checkbox">

                        <label for="submenu__checkbox" class="submenu__toggler">

                        <li class="menu__item"><a class="menu__link">Nabízíme <i class=" menu__icon--down fa-solid fa-chevron-down"></i></a> </li>
                        </label>

                        <ul class="submenu__list">
                            <li class="submenu__item"><a class="submenu__link" href="/projizdky/">Projížďky</a></li>
                            <li class="submenu__item"><a class="submenu__link" href="/ponyclub/">Ponyclub</a></li>
                            <li class="submenu__item"><a class="submenu__link" href="/program/">Program pro školky & oslavy
                            </a></li>
                            <li class="submenu__item submenu__item--last"><a class="submenu__link" href="/primestsky-tabor/">Příměstský tábor</a></li>
                        </ul>
                    </nav>
                    
                    </li>
                    <li class="menu__item"><a class="menu__link" href="/nasi-ponici/">Naši poníci</a></li>
                    <li class="menu__item"><a class="menu__link" href="/fotogalerie/">Fotogalerie</a></li>
                    <li class="menu__item"><a class="menu__link" href="/cenik/">Ceník</a></li>
                     <li class="menu__item menu__item--last"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
                </ul>
            </nav>
           
        </header>

        <div class= "hero">
                <img class="hero__photo hero__photo--mobile" src="/images/hero-mobile.jpg" alt="Holčička s poníky">

                <img class="hero__photo hero__photo--desktop" src="/images/hero.jpg" alt="Holčička s poníky">
        </div>

        <div class="content">
        {{ content | safe }}
        </div>    

        <footer class="footer">
                <footer__top>
                <h3 class="footer__title handwriting">„Naším přáním je přinášet radost dětem i koním.“</h3>  
                <div class="footer__bottom">
                    <h4 class="footer__subtitle">©Ráj poníků, 2022</h1>
                    <img class="footer__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
                    <a class="footer__link" href="mailto:rajponiku@seznam.cz">rajponiku@seznam.cz</a>
                </div>
        </footer>
    </div>

    <script src="/javascript/fslightbox.js"></script>
</body>
</html>