<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Ráj poníků</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
     <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
     
    </head>
<body>
        
    <div class="layout">

        <header class="header">
            <a class="logo__link" href="index.html">
                <div class="logo">
                    <img class="logo__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
                    <h1 class="logo__title">Ráj poníků</h1>
                </div>
            </a>

            <nav class="tabs">
                <a class="tab__item" href="primestsky-tabor.html">Nabízíme</a>
                <a class="tab__item" href="nasi-ponici.html">Naši poníci</a>
                <a class="tab__item" href="fotogalerie.html">Fotogalerie</a>
                <a class="tab__item" href="cenik.html">Ceník</a>
                <a class="tab__item tab__item--last" href="kontakt.html">Kontakt</a>

            </nav>
            <i class="menu-icon">menu</i>
        </header>

        <div class= "hero">
                <img class="hero__photo" src="/images/hero.jpg" alt="Holčička s poníky">
        </div>


<div class="content">

{{ content | safe }}


 </div>    

        

        <footer class="footer">
                <p class="footer__title handwriting">„Naším přáním je přinášet radost dětem i koním.“</p>  
                <div class="footer__content">
                    <h1 class="company__title">©Ráj poníků, 2022</h1>
                    <img class="company__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
                    <a class="e-mail" href="mailto:rajponiku@seznam.cz">rajponiku@seznam.cz</a>
                </div>
        </footer>
    </div>

<script src="fslightbox.js"></script>
</body>
</html>