<footer class="footer">
    <div class="footer__top">
        <h3 class="footer__title footer__title--mobile">„Naším přáním je přinášet radost<br>dětem i koním.“</h3>
        <h3 class="footer__title footer__title--desktop">„Naším přáním je přinášet radost dětem i koním.“</h3>
    </div>

    <div class="footer__bottom">
        <h4 class="footer__subtitle">© Ráj poníků, 2022</h4>
        <img class="footer__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
        <a class="footer__link" href="mailto:rajponiku@seznam.cz">rajponiku@seznam.cz</a>
    </div>
</footer>