        <footer class="footer">
                <p class="footer__title handwriting">„Naším přáním je přinášet radost dětem i koním.“</p>  
                <div class="footer__content">
                    <h1 class="company__title">©Ráj poníků, 2022</h1>
                    <img class="company__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
                    <a class="e-mail" href="mailto:rajponiku@seznam.cz">rajponiku@seznam.cz</a>
                </div>
        </footer>
    </div>