<div class= "hero">
        <img class="hero__photo hero__photo--mobile {{ "hero__photo--homepage" if page.fileSlug === "" }}"" src="/images/hero-mobile.jpg" alt="Holčička s poníky">
        <img class="hero__photo hero__photo--desktop {{ "hero__photo--homepage" if page.fileSlug === "" }}" src="/images/hero.jpg" alt="Holčička s poníky">
</div>