<a class="logo__link" href="/">
    <div class="logo">
        <img class="logo__image" src="/images/logoyellow2.png" alt="Logo Ráje poníků">
        <h1 class="logo__title">Ráj poníků</h1>
    </div>
</a>