            <nav class="tabs">
                <a class="tab__item" href="/primestsky-tabor/">Nabízíme</a>
                <a class="tab__item" href="/nasi-ponici/">Naši poníci</a>
                <a class="tab__item" href="/fotogalerie/">Fotogalerie</a>
                <a class="tab__item" href="/cenik/">Ceník</a>
                <a class="tab__item tab__item--last" href="/kontakt/">Kontakt</a>

            </nav>
            <i class="menu-icon">menu</i>