<nav class="menu">
    <input type="checkbox" class="menu__checkbox" id="menu__checkbox">

    <label for="menu__checkbox" class="menu__toggler">
        <i class="menu__icon menu__icon--open fa-solid fa-bars"></i>
        <i class="menu__icon menu__icon--close fa-solid fa-xmark"></i>
    </label>

    <ul class="menu__list">

        <nav class="submenu">    
            
            <input type="checkbox" class="submenu__checkbox" id="submenu__checkbox">

            <li class="menu__item 
            
            {{ "menu__item--active" if page.fileSlug === "projizdky" }}
            {{ "menu__item--active" if page.fileSlug === "ponyclub" }}
            {{ "menu__item--active" if page.fileSlug === "program" }}
            {{ "menu__item--active" if page.fileSlug === "primestsky-tabor" }}                        
            ">
                <label for="submenu__checkbox" class="submenu__toggler">
                Nabízíme<i class=" menu__icon--down fa-solid fa-chevron-down"></i></label>
            </li>
            
            <ul class="submenu__list">
                <li class="submenu__item"><a class="submenu__link 
                {{ "submenu__link--active" if page.fileSlug === "projizdky" }}
                " href="/projizdky/">Projížďky</a></li>

                <li class="submenu__item"><a class="submenu__link 
                {{ "submenu__link--active" if page.fileSlug === "ponyclub" }}
                " href="/ponyclub/">Ponyclub</a></li>

                <li class="submenu__item"><a class="submenu__link 
                {{ "submenu__link--active" if page.fileSlug === "program" }}
                " href="/program/">Program pro školky & oslavy
                </a></li>

                <li class="submenu__item submenu__item--last"><a class="submenu__link
                {{ "submenu__link--active" if page.fileSlug === "primestsky-tabor" }}
                " href="/primestsky-tabor/">Příměstský tábor</a></li>
            </ul>
        </nav>
        
        <li class="menu__item
        {{ "menu__item--active" if page.fileSlug === "nasi-ponici" }}
        "><a class="menu__link" href="/nasi-ponici/">Naši poníci</a></li>
        <li class="menu__item
        {{ "menu__item--active" if page.fileSlug === "fotogalerie" }}
        "><a class="menu__link" href="/fotogalerie/">Fotogalerie</a></li>
        <li class="menu__item
        {{ "menu__item--active" if page.fileSlug === "cenik" }}
        "><a class="menu__link" href="/cenik/">Ceník</a></li>
        <li class="menu__item menu__item--last
        {{ "menu__item--active" if page.fileSlug === "kontakt" }}
        "><a class="menu__link" href="/kontakt/">Kontakt</a></li>
    </ul>
</nav>   